body {
  background-color: #fff8e1;
}

footer,
header {
  background-color: #757c5a;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  menu {
    background-color: #ff7043;
    display: flex;
    align-items: center;
    text-align: center;
    width: 80px;
    height: 30px;
    border-radius: 1rem;
    margin-left: 150px;
  }
  h1 {
    color: #fff8e1;
    margin-left: 70px;
  }
}

.img2 {
  max-width: 100%;
  height: auto;
  display: block;
}

#hero-section {
  position: relative;
  width: 100%;
}
#hero img {
  width: 100%;
  height: 800%;
  object-fit: cover;
}
.img3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-row: 1/2;
}

h2 {
  display: grid;
  grid-column: 1/-1;
  font-size: 1.5rem;
}

.billedetekst {
  display: grid;
}

.billedetekst > * {
  grid-area: 1 / 1;
}

.billedetekst .tekst-ovenpå {
  place-self: center;
  justify-self: center;
}

.tekst-ovenpå {
  display: flex;
  align-items: center;
  background-color: #ff7043;
  font-size: 2rem;
  width: 35rem;
  height: 20rem;
  color: #fff8e1;
  border-radius: 1rem;
}

#billede_sektion {
  display: grid;
  img {
    max-width: 200px;
    height: auto;
  }
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  p,
  h3 {
    color: #fff8e1;
  }
}
#email-box input {
  border: none;
}

button {
  background-color: #ff7043;
  border: none;
  color: white;
  cursor: pointer;
}

#email-box button:hover {
  background-color: #f73c03;
}

#media-section {
  display: grid;
  grid-template-columns: 1fr;
  div :hover {
    cursor: pointer;
  }
}
